<section>
    <h3>Add new post</h3>
    <%= form_with model: @new_post, url: user_posts_url, method: :post do |form| %>
        <%= form.label :Title %>
        <%= form.text_field :Title %>      
        <%= form.label :Text %>
        <%= form.text_area :Text %>      
        <%= form.submit "Add post"%>
    <% end %> 
</section>