<h1>Posts</h1>
<p> Shows info for Joseph posts </p>
<div> 

    <section class="main_post">
      <div>
        <p>  
            Posst #<%= @post.id %> by @post.author.name%
        </p>

        <p> 
            <span>
                Comments: <%= @post.comments_counter || 0 %>,
                Likes: <%= @post.likes_counter || 0 %>
            </span
        </p>
      </div>
        <p><%= @post.Text%></p>
    </section>

    <div class="border-2 p-3">
        <% @post.recent_comments.each do |comment| %>
            <div>
                <p> 
                <span>
                    <%= comment.author.name %>:
                </span>
                <span>
                    <%= comment.text %>
                </span>
                </p>
            </div>
        
        <% end %>
    </div>

</div>
